<h2>Heroes</h2>
<hr>

<div class="row mb-3">
   <div class="col-md-12 text-right">
      <button [routerLink]="['/heroe','nuevo']"
         class="btn btn-primary">Nuevo heroe +</button>
   </div>
</div>

<div class="row animated fadeIn fast">
   <div class="col-md-12">
      <div class="table-responsive">

         <table class="table">
            <thead class="thead-dark">
               <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Casa</th>
                  <th>Opciones</th>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let k of heroes | keys; let i = index">
                  <td>{{ i+1 }}</td>
                  <td>{{ heroes[k].nombre }}</td>
                  <td>{{ heroes[k].casa }}</td>
                  <td>
                     <button [routerLink]="['/heroe', k]" class="btn btn-sm btn-outline-success mx-1">Edit</button>
                     <button (click)="borrar(k)" class="btn btn-sm btn-outline-danger mx-1">Delete</button>
                  </td>
               </tr>
            </tbody>
         </table>

      </div>
   </div>
</div>
