<h3>Héroe <small>nombre</small></h3>
<hr>

<div class="row animated fadeIn fast">
  <div class="col-md-6">

     <form (ngSubmit)="guardar()" #forma="ngForm">

         <div class="form-group">
            <label for="">Nombre</label>
            <input [(ngModel)]="heroe.nombre"
                  name="nombre"
                  type="text"
                  class="form-control"
                  placeholder="Nombre del heroe"
                  required>
         </div>
         <div class="form-group">
            <label for="">Bio</label>
            <textarea [(ngModel)]="heroe.bio"
                  name="bio"
                  type="text"
                  class="form-control"
                  placeholder="Bio del heroe"></textarea>
         </div>
         <div class="form-group">
           <label for="">Casa</label>
           <select [(ngModel)]="heroe.casa"
                  name="casa"
                  class="form-control">
               <option value="Dc">Dc</option>
               <option value="Marvel">Marvel</option>
            </select>
         </div>
         <div class="form-group text-center">
            <button [disabled]="!forma.valid"
                  class="btn btn-outline-primary" type="submit">
                     Guardar cambios
            </button>
         </div>
     </form>
  </div>
</div>
